<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Results</p>
  </div>
  <div class="page page-checkout sub-page">
    <div class="payment">
      <div class="car-info-container">
        <div class="car-name">Tata Tiago MT Diesel</div>
        <div class="info-container">
          <div class="car-info">
            <img
              class="car-image"
              src="https://zoomcar-assets.zoomcar.com/images/original/2aceee9e84a7bf79ae8928ace92944abbac907d4.png?1584455088"
            />
            <span>Manual</span>
          </div>
          <div class="car-info">
            <img
              class="car-image"
              src="https://zoomcar-assets.zoomcar.com/images/original/4c611ba1fb54d1e42553020d9022e5ab2dac14ea.png?1584455110"
            />
            <span>Diesel</span>
          </div>
        </div>
        <div class="car-image">
          <img
            class="car-original-image"
            src="https://zoomcar-assets.zoomcar.com/photographs/original/afbbd294908b76c7f715b2cd814d4448d83134cf.JPG?1638531177"
          />
        </div>
      </div>
      <div class="car-trip-details">
        <div class="trip-info-container">
          <div class="car-trip-info">
            <div class="icon start-icon">
              <div></div>
            </div>
            <div class="content-container">
              <div class="content-text">Thu, 24 Feb, 05:15 PM</div>
              <div class="content-sub-text">Miyapur</div>
            </div>
          </div>
          <div class="connector"></div>
          <div class="car-trip-info">
            <div class="icon destination-icon">
              <div></div>
            </div>
            <div class="content-container">
              <div class="content-text">Thu, 24 Feb, 11:15 PM</div>
              <div class="content-sub-text">Miyapur</div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="checkout-card-container">
              <div class="icon">
                <img
                  src="https://zoomcar-assets.zoomcar.com/images/original/ccedfb3dddda918d76ad27240ffa582f4a59a157.png?1584454852"
                  alt="icon"
                />
              </div>
              <div class="content-container">
                <div class="content-text content-text">66 Kms without Fuel</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="checkout-card-container">
              <div class="icon">
                <img
                  src="https://zoomcar-assets.zoomcar.com/images/original/b04593cd90f850d14ed46ed739b0371457ef6834.png?1633947533"
                  alt="icon"
                />
              </div>
              <div class="content-container">
                <div class="content-text content-text">
                  5.0 (14) · 42,546 kms driven
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="location-desclaimer">
          <div>
            You will get a clean and sanitized car. Exact car location will be
            shared post-booking
          </div>
        </div>
      </div>
      <div>
        <div class="card-section-container">
          <div data-id="HD">Home Delivery</div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon disable-item">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/199387698b88c2a9c7a4cfd0aedebd2aaae695c5.png?1608270423"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text-disabled content-text">
                    Delivery &amp; Pick Up
                  </div>
                  <div class="error-msg">
                    HD option available for bookings starting at-least 3 hours
                    after the current time
                  </div>
                </div>
                <label class="checkbox-container disable-item">
                  <input type="checkbox" />
                  <div id="PICKUP" class="control-indicator"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-section-container">
          <div data-id="ADD_ONS">Add Ons</div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/44aaa85f73a3bbb533d0beb2cc27b8b261d82acb.png?1591953667"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text content-text">
                    Become Supermiler Elite for ₹999
                  </div>
                  <div class="content-sub-text">
                    Get Benefit of Free Home Delivery, Cancellation and extra
                    Z-Points
                  </div>
                </div>
                <label class="checkbox-container">
                  <input type="checkbox" />
                  <div id="MEMBERSHIP" class="control-indicator"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-section-container">
          <div data-id="DPP">Damage Protection Package</div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/f6b01d4ca15bc999a8a0bbe2bb64710cf71f9b75.png?1633967237"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text content-text">Standard (₹58)</div>
                  <div class="content-sub-text">
                    You pay up to INR 1499 in case of any damage
                  </div>
                  <div class="content-recommended-text">
                    RECOMMENDED FOR YOU
                  </div>
                </div>
                <label class="radio-container">
                  <input type="radio" name="DPP" value="46" />
                  <div class="control-indicator"></div>
                </label>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/97e7b92d185271d80fa2e7638a3eead238f9a0ed.png?1633967297"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text content-text">
                    Peace of Mind (₹80)
                  </div>
                  <div class="content-sub-text">
                    You pay up to INR 249 in case of any damage
                  </div>
                </div>
                <label class="radio-container">
                  <input type="radio" name="DPP" value="47" />
                  <div class="control-indicator"></div>
                </label>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="checkout-card-container bg-grey">
                <div class="content-container">
                  <div class="content-text content-text">
                    How Damage Protection Works?
                  </div>
                  <div class="bg-grey-sub-text">
                    Incase of accidents or any damage to the car, Zoomcar will
                    take care of the expenses. You pay the minimum amount as per
                    the package and we take care of the rest. Higher the package
                    you select, lower the risk at your end for any damage.
                    Please note that this is applicable solely in the case of
                    damage to the vehicle and does not cover for any other third
                    party loss.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card-section-container">
          <div data-id="KEEP_IN_MIND">Keep In Mind</div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/0ebf53a526da3baa9621436223d17ee0a712495e.png?1584454768"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text content-text">
                    Driving License Mandatory
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/ccedfb3dddda918d76ad27240ffa582f4a59a157.png?1584454852"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text content-text">
                    Fare &amp; Fuel Policy
                  </div>
                  <div class="content-sub-text">
                    Fare is inclusive of all taxes. Excess charge ₹11/km. Kindly
                    return the car at the same fuel level as the trip start time
                  </div>
                  <div>
                    <a
                      href="https://www.zoomcar.com/in/hyderabad/policy?tab=feePolicy&amp;locale=en"
                      target="_blank"
                      class="card-hyperlink"
                    >
                      See Details
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/afb10552c79c652619a45d814ab9f936f8592037.png?1584454817"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text content-text">
                    Cancellation Policy
                  </div>
                  <div class="content-sub-text">
                    Hassle free cancellations and refunds at nominal charges
                  </div>
                  <div>
                    <a
                      href="https://www.zoomcar.com/in/hyderabad/policy?tab=feePolicy&amp;locale=en"
                      target="_blank"
                      class="card-hyperlink"
                    >
                      See Details
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div class="checkout-card-container">
                <div class="icon">
                  <img
                    src="https://zoomcar-assets.zoomcar.com/images/original/9f2143a815aa6de62a72bcc66fa2739162e52fdc.png?1638375860"
                    alt="icon"
                  />
                </div>
                <div class="content-container">
                  <div class="content-text content-text">Agreement Policy</div>
                  <div class="content-sub-text">
                    By Submitting, agree to the terms and conditions of the
                    Lease Agreement with Host
                  </div>
                  <div>
                    <a
                      href="https://www.zoomcar.com/in/hyderabad/lease-agreement?locale=en"
                      target="_blank"
                      class="card-hyperlink"
                    >
                      See Details
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="payment-details">
      <div class="price-coupon-container">
        <div class="price-container">
          <div class="final-price">₹805</div>
        </div>
      </div>
      <div>
        <button class="payment-action" (click)="checkout()">Checkout</button>
      </div>
    </div>
  </div>
</section>
